.about_container {
    row-gap: 2rem;
    text-align: center;
}

.about_subtitle {
    margin-bottom: var(--mb-2);
}

.about_img {
    justify-self: center;
}

.about_img img{
    width: 200px;
    border-radius: .5rem;
}

@media screen and (min-width: 768px) {
    .about_container {
        grid-template-columns: repeat(2,1fr);
        align-items: cennter;
        text-align: initial;
    }

    .about_img img{
        width: 300px;
    }

}